@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@300;500&family=Roboto:wght@100;300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: none;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    overflow: hidden;
}

.container{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding-bottom: 60px;
    background: #fbb45f;
}

.container .open-btn{
    background: #fff;
    color: #333;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}

.container .open-btn:hover{
    letter-spacing: 1px;
}

.container .open-btn:active{
    box-shadow: none;
    transform: scale(.9);
}

.cookies-box{
    width: 350px;
    position: fixed;
    bottom: 100px;left: -400px;
    z-index: 1000;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    text-align: center;
    padding: 30px;
}
.cookies-box.active{
    left: 20px;
}
.cookies-box img{
    height: 110px;
    animation: image 10s linear infinite;
}
@keyframes image{
    0%{
        transform: rotate(360deg);
    }
}
.cookies-box h3{
    color: #333;
    font-size: 23px;
    padding: 5px 0;
}

.cookies-box p{
    color: #666;
    font-size: 13px;
    padding: 5px 0;
    line-height: 1.8;
}
.cookies-box .accept{
    background: #fbb45f;
    color: #fff;
    border-radius: 5px;
    display: block;
    margin: 15px 0;
    padding: 10px;
}

.cookies-box .accept:hover{
    letter-spacing: 1px;
    opacity: .8;

}

.cookies-box .setting{
    color: #999;

}

.cookies-box .setting:hover{
    color: #fbb45f; 
}

.cookies-box .close-btn{
    position: absolute;
    top: -2px; right: 12px;
    font-size: 40px;
    color: #999;
    cursor: pointer;
}
.cookies-box .close-btn:hover{
    color: #333;
}